.App {
  text-align: center;
  width: 75%;
  border: 15px rgba(75, 75, 235, 0.852);
  padding: 40px;
  margin: auto;
  border-style: ridge;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(75, 75, 235);
  background-color: rgba(199, 237, 230, 0.695);
}

div {
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.completed {
  color: rgb(191, 0, 0);
  text-decoration: line-through;
  font-weight: bold;
}
